@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Julee");

body {
  margin: 1rem;
}

.alert-warning {
  text-align: center;
}

.header {
  margin-bottom: 1rem;
  text-align: center;
  font-family: "Julee", cursive;

  h1 {
    color: red;
    font-size: 4rem;
    text-decoration: underline;
  }

  span {
    font-size: 1.5rem;
  }
}

.task-input {
  width: 80%;
  margin: 0 auto;
}

.todo-list {
  width: 100%;
}

.tasks {
  margin-top: 1rem;
  max-width: 60%;
  margin: 0 auto;
}

.task {
  padding: 1rem;
  margin-bottom: 1rem;
  height: auto;

  &:hover {
    background-color: #fff388;
  }

  .row {
    margin-left: 1rem;
  }

  .col-action {
    text-align: center;

    .icon-remove {
      cursor: pointer;
      font-size: 1.25rem;
      font-weight: 550;
      color: darkgray;

      &:hover {
        color: red;
      }
    }
  }

  input[type="text"] {
    border: 1px solid transparent;
    padding: 0 0.25rem;
    width: 100%;

    // Doesn't fit the text yet.
    height: auto;
  }
}
